<%= render "shared/header" %>
<div class='main'>
  <%= render "shared/good_search" %>
  <div class='item-contents'>
    <h2 class='title'>検索結果</h2>
    <ul class='item-lists'>
      <% if @results.length != 0 %>
      <% @results.each do |result| %>
      <%= render partial: "shared/goods_display", locals: { good: result } %>
      <% end %>

      <% else %>
      <div>
        該当する商品はありません
      </div>

      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>